%footer.footer
  .row
    .small-12.medium-6.medium-push-6.columns
      %p.logo.show-for-small-only
        %i.fi-target

      %form.footer-form
        .row
          .medium-9.medium-push-3.columns
            %label
              %label.contact{for: "email"} Contact Me
              %input#email{placeholder: "Email Address", type: "email"}/
        .row
          .medium-9.medium-push-3.columns
            %label
              %textarea#message{placeholder: "Message", rows: "5"}
          .row
            .medium-9.medium-push-3.columns
              %form{action: "MAILTO:luciademoja@gmail.com", method: "post"}
                %button.submit{type: "submit", value: "Submit"} Send
    .small-12.medium-6.medium-pull-6.columns
      %h5.logo.hide-for-small-only
        %i.fi-target
        LUCIA DE MOJÀ
      %p.footer-links
        %a{href: "index.html"} Home
        %a{href: "about_me.html"} About Me
        %a{href: "my_portfolio.html"} My Portfolio
        %a{href: "blog.html"} Blog
      %ul.inline-list.social
        %a{href: "//www.facebook.com/Qualcosaltro"}
          %i.fi-social-facebook
        %a{href: "//twitter.com/LuciaDeMoja"}
          %i.fi-social-twitter
        %a{href: "//se.linkedin.com/in/lucia-de-mojà-b202aa4b/en"}
          %i.fi-social-linkedin
        %a{href: "//github.com/luciademoja"}
          %i.fi-social-github
      %p.copywrite Copyright Lucia De Mojà © 2016
