%nav.menu
  %h1.name
    %i.fi-star
    Lucia De Mojà
  %ul.inline-list
    %li
      %a{:href => "./"} Home
    %li
      %a{:href => "./about_me.html"} About Me
    %li
      %a{:href => "./my_portfolio.html"} My Portfolio
    %li
      %a{:href => "#"} Contact
    %li
      %a{:href => "#"} Blog
