%header.header
  %nav.menu
    %h1.name
      %i.fi-star
      %p Lucia De Mojà
    %ul.inline-list
      %li
        %a{href: "index.html"} Home
      %li
        %a{href: "about_me.html"} About Me
      %li
        %a{href: "my_portfolio.html"} My Portfolio
      %li
        %a{href: "blog.html"} Blog
