.about
  %h1 About me
  %br
  %p After studying Animal Science, Veterinary medicine and achieving a master's degree in Molecular Biology, I've decided to switch to Web Development at age of 27 to follow the recent dream of becoming a programmer.
  %br
  %p My field of expertise is originally biology and I am very passionate about bacteria, yeasts and viruses colture, DNA sequencing, all the new and old molecular biology techniques and I still follow the latest updates within the scientific community.
  %br
  %p I've started my journey into programming last year with my first Java book and from that moment I've been anchored to this world driven by a really strong passion for coding and creating programs. I decided to take part in the CraftAcademy bootcamp to give myself the chance to become a Web Developer and make of this passion a real job in the future.
