.welcome
  .logo
    = image_tag 'middleman-logo.svg'
  %h1 Good Job Lucia
  %p.doc
    = link_to 'Read Documentation Online', ' https://middlemanapp.com', target: '_blank'
.projects
  - data.projects.each do |project|
    %h4= project[:name]
    %p= project[:description]
%footer
  %h3 My Portfolio
  %p Built using the awesome Middleman framework
