.row
  %h5 Here you can find a list of all my projects developed since my enrollment in CraftAcademy.
  -data.projects.each_slice(2) do |group|
    .row
    - group.each do |item|
      .large-6.columns
        %h2= link_to item[:name], item[:url], target: '_blank'
        %h4= item[:description]
        %br
